*{
    box-sizing: border-box;
    margin: 0;    
}

body{
    font: 1em sans-serif;
    background-color: hsl(170, 100%, 99%);
}

p{
    margin-bottom: 2%;
}
li{
    margin-bottom: 1%;
}

.details h3{
    margin-bottom: 24px;
}

.container{
    margin: auto;
    text-align: center;
    width: 60%;
    display: flow-root;
    background-color: white;
    box-shadow: 1px 1px 20px 1px rgb(212, 212, 212);
    overflow: hidden;
    padding: 0;
    margin-top: 3%;
    margin-bottom: 3%;
}

.head{
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid;
}
.pfp {
    padding: 5%;
    padding-bottom: 2%;
    width: 40%;
    
}

.pfp img{
    margin-bottom: 5%;
    width: 100%;
    border-radius: 100%;
    border: 4px solid rgb(160, 160, 160);
}
.summary{
    margin: auto;
    justify-items: center;
    text-align: left;
    width: 60%;
}

.personalProfile{
    margin-top: 10%;
    margin-bottom: 10%;
}

.contactInfo p { 
    display: inline;
    margin-right: 5%;
    font-size: 0.8em;
}

.details{
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    margin: 12px;
    background-color: hsl(40, 100%, 98%);
}
.leftPortion{
    width: 55%;
    text-align: left;
    border-right: 1px solid;
}

.rightPortion{
    width: 45%;
    text-align: left;
}

.proExp{
    margin: 5%;
}

.exp{
    margin: 5%;
}
.exp h4{
    margin-bottom: 3%;
}

.edu{
    margin: 5%;
    margin-bottom: 20%;
}

.skills{
    margin: 5%;
    margin-bottom: 20%;   
}

.cert{
    margin: 5%;
    margin-bottom: 20%;
}

.refs{
    margin: 5%;
}