*{
    box-sizing: border-box;
    margin: 0;    
}

body{
    font: 1em sans-serif;
    background-color: hsl(174, 100%, 96%);
}

.details h3{
    margin-bottom: 24px;
}

.container{
    margin: auto;
    text-align: center;
    width: 60%;
    display: flow-root;
    background-color: white;
}

.head{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid;
}
.pfp {
    padding: 5%;
    padding-bottom: 2%;
    width: 40%;
    
}

.pfp img{
    margin-bottom: 5%;
    width: 100%;
    border-radius: 100%;
    border: 4px solid rgb(160, 160, 160);
}
.summary{
    margin: auto;
    justify-items: center;
    text-align: left;
}

.personalProfile{
    margin-top: 10%;
    margin-bottom: 10%;
}

.contactInfo p { 
    display: inline;
}

.details{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 12px;
}
.leftPortion{
    max-width: 100%;
    min-width: 55%;
    text-align: left;
    border-right: 1px solid;
}

.rightPortion{
    max-width: 100%;
    min-width: 45%;
    text-align: left;
}

.proExp{
    margin: 5%;
    height: 60%;
}

.exp{
    margin: 5%;
    min-height: fit-content;
    height: 50%;
}

.edu{
    margin: 5%;
    height: 40%;
}

.skills{
    margin: 5%;   
}

.cert{
    margin: 5%;
}

.refs{
    margin: 5%;
}